@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .primary-background {
    background-color: #e3e5eb;
  }

  .primary-text {
    color: #e3e5eb;
  }

  .secondary-text {
    color: #162e50;
  }

  .secondary-background {
    background-color: #162e50;
  }

  .accent-background {
    background-color: #ad343e;
  }

  .accent-text {
    color: #ad343e;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #e3e5eb;
}

.route-component {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.header {
  height: 5rem;
}

.input:focus {
  outline: solid #162e50 2px !important;
}

.button {
  background-color: #162e50; 
  color: #e3e5eb;
  padding: 0.5rem 1.5rem;
  font-size: large;
  border-radius: 10px;
}
